{{!< base}}


<body >
  <div class="text-center" style="height: 100vh; with: 100%; background-image: url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?crop=entropy&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1450'); ">

    <a href="/auth/twitter" class="btn btn-primary" style="margin-top: 49vh; ">Login with twitter</a>
  </div>
</body>
